* {
  padding: 0px;
  margin: 0px;
}
#chat-container {
  background-color: hsla(0, 0%, 100%, 0.8);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border: 4px solid #00008f;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  min-width: 320px;
  position: fixed;
  bottom: 0px;
  right: 0;
  width: 30%;
  display: none;
  z-index: 100;
  .chat-nav {
    width: 100%;
    height: 40px;
    color: #ffff;
    background: #00008f;
    display: flex;
    justify-content: space-between;
  }
}
#chat {
  width: 100%;
  height: 500px;
  background: rgb(233, 228, 228);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
#chatbotForm {
  display: flex;
  #chatInput {
    width: 300px;
    height: 40px;
    border-bottom: none;
    outline: none;
  }
  #chatSubmit {
    max-width: 50px;
    background: none;
    cursor: pointer;
    border: none;
  }
}
#nlpbot,
#user {
  min-width: 100px;
  max-width: 300px;
  min-height: 50px;
  padding: 5px;
  margin: 5px 0px;
  p {
    text-align: left;
    b {
      font-size: 10px;
    }
  }
}
#nlpbot {
  align-self: flex-start;
  background: rgb(219, 219, 255);
  margin-left: 10px;

}
#user {
  align-self: end;
  background: rgb(111, 255, 171);
  margin-right: 10px;
}
#chatButton{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  cursor: pointer;
  border: none;
  position: absolute;
  z-index: 99;
  bottom: 20px;
  right: 10px;
}
#minimizeChat{
 background: none;
 border: none;
 color: #fff;
 cursor: pointer;
 margin-right: 20px;

}